<div id="<%= dom_id user %>">
  <p>
    <strong>Code:</strong>
    <%= user.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user.city %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= user.currency %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= user.balance %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= user.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= user.platform %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

</div>
